[submodule "third_party/dcpu_test_suite"]
	path = third_party/dcpu_test_suite
	url = https://github.com/bshepherdson/dcpu_test_suite.git
[submodule "third_party/AtlasOS"]
	path = third_party/AtlasOS
	url = https://github.com/0x10cAtlas/AtlasOS.git
